<form name="$ctrl.userForm" novalidate class="form" ng-submit="$ctrl.createPost()" >
<div class="form-group" ng-class="{
  'has-error' : $ctrl.userForm.title.$invalid,
  'has-error' : $ctrl.userForm.author.$invalid,
}">
<label class="control-label" for="title">Title</label><br>
 <input
 name="title"
 ng-model="$ctrl.postObj.title"
 required
 minlength="1"
 type="text"
 class="form-control"
 id="title">
 <span ng-show="$ctrl.userForm.title.$error">Title must be entered</span><br>

 <label class="control-label" for="author">Author</label><br>
  <input
  name="author"
  ng-model="$ctrl.postObj.author"
  required
  minlength="1"
  type="text"
  class="form-control"
  id="author">
  <span ng-show="$ctrl.userForm.author.$error">Author must be entered</span><br>


  <label class="control-label" for="img">Image</label><br>
   <input
   name="img"
   ng-model="$ctrl.postObj.img"
   type="url"
   class="form-control"
   id="img">
   <br>

   <label class="control-label" for="description">Description</label><br>
    <input
    name="description"
    ng-model="$ctrl.postObj.description"
    maxlength="255"
    type="text"
    class="form-control"
    id="description">
    <br>

 </div>

<button value="Submit">Submit</button><br>
</form>

<div ng-repeat="posts in $ctrl.blogDB">

<div class="card">
<div class="card-header">
{{ posts.title }}
</div>
<div class="card-block">
<h4 class="card-title">{{ posts.title }}</h4>
<img ng-src="{{ posts.img }}" alt="{{author}}" id="img_posts"/>
<p class="card-text">{{ posts.description }}</p>
<p>{{ posts.date}}{{ posts.votes }}</p>
<p>{{ votes.comments }}</p>
<footer>Author <cite title="Author">{{posts.author}}</cite></footer><hr>

</div>
</div>
